{% extends 'base.html.twig' %}

{% block main %}
    <main class="content px-3 py-2">
        <div class="container-fluid">
            <div class="mb-3 text-center">
                <h3>Welcome to CFM</h3>
            </div>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/mycss.css') }}"> 
{% endblock %}