<nav class="navbar navbar-expand px-3 border-bottom">
	<!-- Button for sidebar toggle -->
	<button class="btn" type="button" data-bs-theme="dark">
		<i class="lni lni-grid-alt"></i>
	</button>
	<h4 class=''>{{slug}} </h4>
</nav>