<nav class="navbar navbar-expand px-3 border-bottom">
	<!-- Button for sidebar toggle -->
	<button class="btn mt-3" type="button" data-bs-theme="dark">
		<i class="lni lni-grid-alt"></i>
	</button>
	<h3 class='mt-3'>{{slug}} </h3>
</nav>