{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		.home {
			background-color: rgba(255, 255, 255, .075);
    		border-left: 3px solid #3b7ddd;
		}
	</style>
{% endblock %}

{% block title %}
	{{ parent() }} | Home	
{% endblock %}

{% block main %}
	<div class='container-fluid mt-4'>
		<div class="row justify-content-center">
			<div class=" col-sm-12 col-lg-5 rounded-4 bg-light border-2 ps-lg-5">
				<table class="table table-borderless mt-2 table-light table-hover ">
					<thead>
						<tr>
							<th>Designation</th>
							<th>City</th>

						</tr>
					</thead>
					<tbody>
						{% for church in churches %}
							<tr>
								<td>{{church.design}}</td>
								<td>{{church.city}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
