<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="icon" href="{{ asset('images/icon.jpeg') }}">

		<!-- Stylesheets -->
		<link rel="stylesheet" href="{{ asset('assets/styles/bootstrap/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
	<body>
		{% block body %}{% endblock %}

        <!-- Scripts -->
        <script src="{{ asset('assets/scripts/bootstrap/bootstrap.bundle.min.js') }}"></script>
        {% block javascript %}{% endblock %}
	</body>
</html>
