<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{% block title %}{% endblock %}</title>
   <link rel="stylesheet" href="{{ asset('assets/styles/bootstrap/bootstrap.min.css') }}"> 
   <style>         
         html, body {
            width: 210mm;
            height: 297mm;
            margin: 0;
            padding: 0;
            }   
         body {
            width: 100%;
            padding-left: 40px;
         }   

         table {
            border-collapse: collapse;
            width: 90%;
            margin-bottom: 8px;
         }

         th, td {
            border: solid 1px black;
            width: 50px;
            text-align: center;
         }   
         td {
            font-weight: normal;
         }
         p {
            padding: 0;
            margin: 0;
            font-size: 13px;
         }
         h4, h5 {
            margin: 0px;
            margin-top: 10px;
         }

         h5 {
            padding-bottom: 5px;
         }
   </style>
</head>
<body>
   {% block body %}
      
   {% endblock %}
</body>
</html>