{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/styles/base.css') }}">
{% endblock %}

{% block main %}

    <div class='container mt-5 '>
		<div class='row justify-content-center '>
			<div class='col-sm-2 col-lg-4'>
			</div>	
			<div class='col-sm-8 col-lg-3 border rounded-3  '>
		   		{{ form_start(outcomes) }}

    			{{ form_end(outcomes) }}
				
			</div>	
			<div class='col-sm-2 col-lg-4'>
			</div>		
		</div>
    </div> 
{% endblock %}
